.contact-word {
    color: white;
}

.contact-page {
    opacity: 0;
    animation: fadeInUp 1s 1s;
    animation-fill-mode: forwards;
}
.contact-form {
    width: 30%;
    padding-left: 40px;
    margin-top: 240px;
    margin-left: 180px;
    color: rgba(255, 255, 255, 0.868);
}
.contact-letters {
    position: absolute;
    margin-top: -4%;
    letter-spacing: -1.1rem;
    left: 13%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    padding: 0;
    font-size: 23px;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;

    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
}
li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;
}
li.half:first-child {
    margin-left: 0;
}
input[type='text'],
input[type='email'] {
    width: 100%;
    border: 0;
    background: rgba(128, 128, 128, 0.349);
    height: 50px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.868);
    padding: 0 20px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    border: 0;
    background: rgba(128, 128, 128, 0.274);
    height: 50px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.868);
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
}
.flat-button {
    color: rgba(255, 255, 255, 0.868);

    font-weight: 100;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid rgba(255, 255, 255, 0.868);
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.logo-new {
    position: relative;
    width: 25%;
    height: 25%;
    margin-top: -30%;
    margin-left: 50%;
    opacity: 0;
    animation: fadeInUp 1s 1s;
    animation-fill-mode: forwards;
}
@media all and (max-width: 1000px) {
    .contact-word {
        opacity: 0;
    }
    .contact-form {
        position: absolute;
        margin-left: 20px;
        width: 80%;
        margin-top: 220px;
        padding-top: 50%;
        /* opacity: 0; */
    }

    .logo-new {
        position: absolute;
        height: 30%;
        width: 30%;
        margin-top: 30%;
        margin-left: 28%;

        float: right;
    }
}
